<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vindos ao meu blog</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati assumenda placeat sed et eveniet
                totam ipsa adipisci repellat magni eos, magnam beatae nobis nisi facilis itaque natus provident tempore
                vel! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas est et tempora, ad non mollitia
                repellendus quia aliquam quasi molestias cum magni expedita nihil blanditiis hic optio odio. Rerum,
                tenetur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eligendi iure debitis
                repellendus reprehenderit nemo numquam hic nobis magnam exercitationem! Temporibus nihil natus labore?
                Illum, quae. Odit quidem commodi et?</p>
        </div>
    </div>
</div>

<div class="parallax"></div>

<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
    </div>
</div>
