<div class="card border-0" style="width: 18rem;">
  <div class="d-flex justify-content-center">
    <img
      src="https://lh3.googleusercontent.com/njHuWWdigfR_DAx6XRnTo8Kfn9_Na3s6S3aIwN3OcKdELXCx4PeLiKD4cPvJnlO4slBxJQcLzi-hCHTACQwbREmTkEqxmzLe_h7tEMr4w0fSnNan9akSsBnV-Ma421DUwN4JtFANNUvS96GX0nMlqjAy89Lq6EnPbk0VLhJTp5SQbk5Kk1DlypYqu6utgV0LuDWKf-7yYVqb4zNZ-iIcnOmaAa918R7L8XvzsNjPkXE2mKRjNAWC9C7SUzUQ6uC7-DjuZ0t8eUEBAHXoVyQcsjEoWj-lM92bdV1QQtn9RfjHNReRy_9vK0QCdsOaWPUpcdg8FCBBA07eRv_KGHSjYDOmEHq9e7vRM3XQf7XbNYKUKO8gTmrE8bnd2wuvdBGA3iyCd8qpReyhgsDtxTJDgrAbWbaVwgVAzrSLSgorP1cagdTBkUjrOFJObJdaQLUEc_Zl_DVuqGZ1qky7YrjqSuDIhCmGmRlneiS10rF_OXN4GgJcM1rqEU__Eim1YxScb7ycjKll4BaSUrZhHSpCHhbNaK4MbV3xko1ASTyCcQHIO0CmBYpFDpzyLTuSfhVaHFeJJTpQM0duOKD6xbzg8fhlJkolBPP7VsLmt0oJGt4Ud12hi492lIl1wSlOywrQwLj4qB_aO8t4gPtfx9pjeaNqDpV6zIKY8cMi4TNYrlYI23ym4Xz9MYq5Qhhl=s657-no?authuser=0"
      class="card-img-top rounded-circle w-75" alt="...">
  </div>

  <div class="card-body">
    <h5 class="card-title text-center text-monospace">{{nome}}</h5>
    <p class="card-text text-center text-monospace">Aluno de denvolvimento web em java na Generation Brasil.</p>

    <a href="https://www.linkedin.com/feed/" class="btn btn-primary mb-3 d-flex justify-content-center"
      target="_blank">LinkedIn</a>


    <a href="https://github.com/LeandroSilvaPaiva" class="btn btn-dark mb-3 d-flex justify-content-center"
      target="_blank">GitHub</a> 
      
      <a href="https://www.facebook.com/" class="btn btn-primary mb-3 d-flex justify-content-center"
      target="_blank">Facebook</a>

      <a href="https://github.com/LeandroSilvaPaiva" class="btn btn-dark mb-3 d-flex justify-content-center"
      target="_blank">Instagram</a>

  </div>
</div>